# Python
pycache/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.env

# VS Code
.vscode/

# Streamlit
.streamlit/

# Data outputs
data/processed/*.json
data/processed/*.bin

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db